In [1]:
import pandas as pd

In [5]:
df_zone = pd.read_csv("taxi+_zone_lookup.csv")
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [6]:
df_trip= pd.read_csv("green_tripdata_2019-09.csv")
df_trip

/var/folders/lc/sjmkrby54kq42d43t691zk6c0000gn/T/ipykernel_65271/313990285.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trip= pd.read_csv("green_tripdata_2019-09.csv")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [14]:
df_trip.to_sql(name='green_tripdata',  con=engine, if_exists='append')

63

In [15]:
df_zone.to_sql(name='taxi_zone_lookup',  con=engine, if_exists='append')

265

In [18]:
df_trip.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [19]:
df_zone.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [52]:
df_trip[(df_trip['lpep_pickup_datetime'].astype(str).str.contains('2019-09-18')) & (df_trip['lpep_dropoff_datetime'].astype(str).str.contains('2019-09-18'))].shape[0]

15612

In [49]:
df_mrege = df_trip .merge(df_zone, how='left', left_on = 'PULocationID', right_on='LocationID')
df_select = df_mrege[(df_mrege['lpep_pickup_datetime'].astype(str).str.contains('2019-09-18')) & (df_mrege.Borough !='Unknown')]
df_select.groupby('Borough', as_index=False)['total_amount'].sum().sort_values(by='total_amount', ascending=False)

         Borough  total_amount
1       Brooklyn      96333.24
2      Manhattan      92271.30
3         Queens      78671.71
0          Bronx      32830.09
4  Staten Island        342.59

In [47]:
df_pickup  = df_mrege[(df_mrege['lpep_pickup_datetime'].astype(str).str.contains('2019-09')) & (df_mrege.Zone =='Astoria')]
df_pickup = df_pickup[['lpep_pickup_datetime', 'DOLocationID', 'tip_amount','Zone']] 

df_pickup.columns = ['lpep_pickup_datetime', 'DOLocationID', 'tip_amount','pickup_Zone']
df_select = df_pickup.merge(df_zone, how='left', left_on = 'DOLocationID', right_on='LocationID')
df_select.sort_values(by='tip_amount', ascending=False)

,lpep_pickup_datetime,DOLocationID,tip_amount,pickup_Zone,LocationID,Borough,Zone,service_zone
4277,2019-09-08 18:10:40,132,62.31,Astoria,132,Queens,JFK Airport,Airports
8215,2019-09-15 02:01:47,260,30.00,Astoria,260,Queens,Woodside,Boro Zone
14494,2019-09-25 10:24:32,137,28.00,Astoria,137,Manhattan,Kips Bay,Yellow Zone
1015,2019-09-03 04:25:59,264,25.00,Astoria,264,Unknown,NV,NaN
6467,2019-09-12 20:36:36,239,20.00,Astoria,239,Manhattan,Upper West Side South,Yellow Zone
...,...,...,...,...,...,...,...,...
7209,2019-09-13 23:22:17,82,0.00,Astoria,82,Queens,Elmhurst,Boro Zone
7213,2019-09-13 23:02:31,7,0.00,Astoria,7,Queens,Astoria,Boro Zone
7214,2019-09-13 23:09:32,129,0.00,Astoria,129,Queens,Jackson Heights,Boro Zone
7216,2019-09-13 23:26:24,179,0.00,Astoria,179,Queens,Old Astoria,Boro Zone
18261,2019-09-30 21:30:00,82,0.00,Astoria,82,Queens,Elmhurst,Boro Zone